<div id="footer">
	<div id="footerLinks">
		<%= link_to 'O nas', about_url %> 
		<%= mail_to 'admin@ilustratorzy.pl', 'kontakt' %> 
		<%= link_to 'twitter', 'http://www.twitter.com/ilustratorzy_pl', :target => '_blank' %>
		<%= link_to 'facebook', 'http://www.facebook.com/pages/ilustratorzypl/143879595667814', :target => '_blank' %>
		<%= link_to 'zasady', terms_url %> 
 		<%= link_to "@2010 ilustatorzy.pl", root_url %>
	</div> <!-- end footerLinks -->
</div> <!-- end footer -->